@import "@flaticon/flaticon-uicons/css/all/all";

@tailwind base;
@tailwind components;
@tailwind utilities;

i{
    margin-bottom: -6px;
}

.choices__list--single{
    padding: 0 !important;
}

.choices{
    font-size: 0.875rem !important;
    line-height: 1.25rem !important;
    margin-bottom: 0 !important;
}